<html>
<head>
    <title> Short</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <script>
        var API_BASE_URL = "<%= template_context.api_url %>";
    </script>
    <script src="/static/main.js"></script>
</head>
<body>
<div class="Wrapper">
    <h1 class="Title">Simple link sortener!</h1>
    <div class="Input">
        <input type="url" id="destinationUrl" class="Input-text" placeholder="Paste link to shorten it">
        <label for="destinationUrl" class="Input-label">Paste link and press Enter</label>
    </div>
</div>
</body>
</html>
