@import url("https://fonts.googleapis.com/css?family=Dosis");
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: #7e57c2;
    font-family: "Dosis", sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
}

.Wrapper {
    flex: 0 0 80%;
    max-width: 80%;
}

.Title {
    margin: 0 0 7.2rem 0;
    padding: 0;
    color: #fff;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    text-shadow: -0.1rem 0.1rem 0.2rem #4527a0;
}

#destinationUrl {
    display: block;
    margin: 0;
    padding: 0.8rem 1.6rem;
    width: 100%;
    font-family: inherit;
    font-size: 2.1rem;
    font-weight: inherit;
    line-height: 1.8;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
}

#destinationUrl:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
}

#btnShortUrl, #btnCopyUrl {
    height:48px;
    width: 100px;
    font-size: 18px;
}
#btnShortUrl:hover, #btnCopyUrl:hover {
    box-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
}


.long-and-truncated {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
